body {
    background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Righteous&display=swap');

.loading--wrapper {
    background-color: black;
    color: white;
    width: auto;
    margin: auto;
    width: 375px;
    height: 667px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: space-between;
    width: 100px;
    height: 100px;
    margin: none;
}
.icon:hover {
    cursor: pointer;
}
.icon-one {
    width: 2px;
    height: auto;
    background-color: white;
    border: solid 2px white;
    margin: 0;
}
.icon-two {
    width: 4px;
    height: auto;
    background-color: white;
    border: solid 2px white;
    margin: 0;
}
.icon-three {
    background-color: white;
    width: 8px;
    height: auto;
    border: solid 2px white;
    margin: 0;
}
.icon-four {
    width: 12px;
    height: auto;
    background-color: white;
    border: solid 2px white;
    margin: 0;
}

h1 {
    size: 20px;
    font-weight: 400;
    font-family: "Righteous", sans-serif ;
}

h2 {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.12px;
    letter-spacing: 10%;
}